<!DOCTYPE html>
<html>
    <head>
        <title>Party @ Dans Rock Radio</title>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'main/images/icon.png' %}" type="image/png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'main/player.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <script src="{% static 'main/player.js' %}"></script>
    </head>
    <body style="background-image: radial-gradient(circle, rgb(59, 89, 152) 0%, rgb(120, 204, 235) 100%)">



        {{ music }}

        <div class="container px-3 mt-4 mb-4" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); border-radius: 10px;">
            <div class="row">
                <header class="d-flex justify-content-center py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <img src="{% static 'main/images/logo.png' %}" class="img-fluid" alt="Party@Dans" style="max-width: 400px;">
                        <span class="fs-2 pb-2 ps-3">Rock Radio</span>
                    </a>
                    <a href="{{ azuracast.station.public_player_url }}" class="btn btn-primary fs-4 my-3">
                        <i class="bi bi-play-fill"></i>Mini Player
                    </a>
                </header>
            </div>
            <div class="row">
                <div class="col-md-4 h-100">
                    <section class="card mb-3 h-100" role="region" data-bs-theme="light">
                        <div class="card-header text-bg-primary py-1">
                        <h2 class="card-title">Links</h2>
                        </div>
                        <div class="card-body overflow-auto">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="https://mytuner-radio.com/radio/party-at-dans-440540" target="_blank">
                                        <i class="bi bi-broadcast-pin pe-2"></i>Listen on myTuner
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://manager.padradio.com/public/padradio/playlist.pls">
                                        <i class="bi bi-download pe-2"></i>VLC Playlist
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="mailto:padradio@gmail.com">
                                        <i class="bi bi-envelope pe-2"></i>Email Dan
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://www.facebook.com/groups/partyatdans" target="_blank">
                                        <i class="bi bi-facebook pe-2"></i>Facebook
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://www.x.com/partyatdans" target="_blank">
                                        <i class="bi bi-twitter-x pe-2"></i>Twitter/X
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://www.reddit.com/user/partyatdansrockradio" target="_blank">
                                        <i class="bi bi-reddit pe-2"></i>Reddit
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </section>
                    <section class="card mb-3 h-100" role="region" data-bs-theme="light">
                        <div class="card-header text-bg-primary py-1">
                        <h2 class="card-title">Recently Played</h2>
                        </div>
                        <div class="card-body overflow-auto">

                            {% for item in azuracast.song_history %}
                            <div class="d-flex align-items-center my-2">
                                {% if forloop.counter < 10 %}
                                    <strong class="order me-3">{{ forloop.counter }}</strong>
                                {% else %}
                                    <strong class="order me-2">{{ forloop.counter }}</strong>
                                {% endif %}
                                <a href="{{ item.song.art }}" class="me-3" target="_blank" title="Enlarge Album Art">
                                    <img src="{{ item.song.art }}" class="rounded" loading="lazy" alt="" width="60" height="60">
                                </a>
                                </a>
                                <div class="d-flex flex-column w-100">
                                    <strong class="text-truncate">{{ item.song.title }}</strong>
                                    <span class="text-truncate fs-6">{{ item.song.artist }}</span>
                                    <span class="text-truncate fs-6">{{ item.song.album }}</span>
                                </div>
                                <small id="time-diff-{{ item.sh_id }}" class="text-muted ms-auto text-nowrap"> minutes ago</small>
                                <span id="timestamp-{{ item.sh_id }}" style="display:none;">{{ item.played_at }}</span>
                            </div>                            
                            {% empty %}
                            <p>No song history available.</p>
                            {% endfor %}

                        </div>
                    </section>
                </div>
                <div class="col-md-8">
                    <section class="card mb-3" role="region" data-bs-theme="light">
                        <div class="card-header text-bg-primary d-flex justify-content-between align-items-center py-2">
                            <h2 class="card-title mb-0">Currently Playing</h2>
                            {% if azuracast.now_playing.is_request %}
                                <span class="card-subtitle"><i class="bi bi-boombox me-2"></i>Listener Request</span>
                            {% endif %}
                        </div>
                        <div class="card-body pb-0">

                            <div class="now-playing-details d-flex align-items-center">
                                <div class="now-playing-art me-3">
                                    <a href="{{ azuracast.now_playing.song.art }}" class="album-art" target="_blank" data-fancybox="gallery" aria-label="Enlarge Album Art" title="Enlarge Album Art" style="--453abce5: 40px;">
                                        <img class="album_art rounded" src="{{ azuracast.now_playing.song.art }}" loading="lazy" alt="" width="75" height="75">
                                    </a>
                                </div>
                                <div class="now-playing-main flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="now-playing-title fs-5 mb-0">{{ azuracast.now_playing.song.title }}</h4>
                                        <span class="now-playing-genre text-muted ms-3">{{ azuracast.now_playing.song.genre }}</span>
                                    </div>
                                    <h5 class="now-playing-artist fs-6">{{ azuracast.now_playing.song.text }}</h5>
                                    <div class="time-display d-flex justify-content-between align-items-center">
                                        <div class="time-display-played text-secondary">{{ azuracast.now_playing.elapsed }}</div>
                                        <div class="time-display-progress flex-grow-1 mx-2">
                                            <div class="progress h-5">
                                                <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ azuracast.now_playing.percent }}%;"></div>
                                            </div>
                                        </div>
                                        <div class="time-display-total text-secondary">{{ azuracast.now_playing.duration }}</div>
                                    </div>
                                </div>
                            </div>
                            <hr class="ms-2">
                            <div class="radio-controls d-flex mb-2">
                                <div class="flex-grow-1">
                                    <button type="button" title="Play" aria-label="Play" class="btn p-0 radio-control-play-button btn-xl">
                                        <i class="bi bi-play-circle fs-2"></i>
                                    </button>
                                </div>
                                <div class="d-flex align-items-center" style="width: 50%;">
                                    <div class="flex-shrink-0 mx-2">
                                        <button type="button" class="btn p-0 text-secondary" aria-label="Mute">
                                            <i class="bi bi-volume-up-fill fs-2"></i>
                                        </button>
                                    </div>
                                    <div class="flex-fill radio-control-volume-slider me-4">
                                        <input type="range" title="Volume" class="form-range" min="0" max="100" step="1">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section class="card mb-3 pb-3" role="region" data-bs-theme="light">
                        <div class="card-header text-bg-primary d-flex justify-content-between align-items-center">
                            <h2 class="card-title mb-0">Playing Next</h2>
                            {% if azuracast.playing_next.is_request %}
                                <span class="card-subtitle"><i class="bi bi-boombox me-2"></i>Listener Request</span>
                            {% endif %}
                        </div>
                        <div class="card-body pb-0">
                            <div class="d-flex align-items-center my-1">
                                <a href="{{ azuracast.playing_next.song.art }}" class="me-3" target="_blank" title="Enlarge Album Art">
                                    <img src="{{ azuracast.playing_next.song.art }}" class="rounded" loading="lazy" alt="" width="75" height="75">
                                </a>
                                <div class="d-flex flex-column w-100">
                                    <strong class="text-truncate">{{ azuracast.playing_next.song.title }}</strong>
                                    <span class="text-truncate fs-6">{{ azuracast.playing_next.song.artist }}</span>
                                    <span class="text-truncate fs-6">{{ azuracast.playing_next.song.album }}</span>
                                </div>
                                <div class="d-flex flex-column ms-auto text-end">
                                    <small class="text-muted text-nowrap">{{ azuracast.playing_next.song.genre }}</small>
                                    <small class="text-muted text-nowrap">{{ azuracast.playing_next.duration }}</small>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="card mb-3 pb-3" role="region" data-bs-theme="light">
                        <div class="card-header text-bg-primary  py-1">
                            <h2 class="card-title">Make a Request</h2>
                        </div>
                        <div class="card-body">



                        </div>
                    </section>
                </div>
            </div>
            <footer class="footer mt-auto pb-3">
                <div class="container d-flex justify-content-between">
                    <span class="text-muted">Party @ Dans Rock Radio Player. <a class="text-decoration-none" href="https://github.com/PartyAtDansRadio/Website">(A GPL3 Github Project)</a></span>
                    <span class="text-muted">Currently Listening: {{ azuracast.listeners.total }}</span>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
